/* Book Page Colors */

    .store-container__book-page {
        background-color: var(--brown-red);
    }

    .store-item__book-page {
        background-color: var(--dark-red);
    }

    .book-page-container {
        background-color: var(--brown-red);
    }

    .book-info {
        background-color: var(--dark-red);
    }

    .book__cover {
        background-color: var(--main-red);
    }


    .book__name,
    .book__description {
        background-color: var(--main-red);
    }

/*  */

.store-container__book-page {
    box-sizing: border-box;
    padding: 0 1rem 2rem;
}

.book-page-container {
    width: 90%;
    /* height: 36rem; */

    box-sizing: border-box;
    padding: 3rem;

    display: flex;
}

.book-info {
    width: 100%;

    box-sizing: border-box;
    padding: 2rem;

    display: flex;
    flex-flow: row;
}

.book__cover {
    height: 30rem;

    box-sizing: border-box;
    padding: 1.6rem;
}

.book__text {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.book__name,
.book__description {
    box-sizing: border-box;
    padding: 1rem;

    display: flex;
}

@media screen
and (max-width: 600px) {
    .book-info {
        flex-flow: column;
        gap: 1rem;
    }

    .book__cover {
        width: 100%;
        height: unset;
    }

    .book__text {
        gap: 1rem;
    }
    
    .book__name {
        text-align: center;
        font-size: 2rem;
    }
    
    .book__description {
        text-align: center;
        font-size: 1.6rem;
    }
}

@media screen
and (max-width: 355px) {
    .book-page-container {
        width: 85%;
        padding: 1.6rem;
    }
}

@media screen
and (min-width: 601px) {
    .book-info {
        gap: 2rem;
    }

    .book__text {
        height: 100%;

        gap: 2rem;
    }

    .book__name {
        height: 30%;

        justify-content: center;
        align-items: center;

        font-size: 3rem;
    }

    .book__description {
        flex-grow: 1;

        font-size: 1.8rem;
    }
}

@media screen
and (min-width: 700px) {
    
    .book__name {
        font-size: 3.6rem;
    }

    .book__description {
        font-size: 2.2rem;
    }
}

@media screen
and (min-width: 870px) {
    
    .book__name {
        font-size: 4rem;
    }

    .book__description {
        font-size: 2.6rem;
    }
}

@media screen
and (min-width: 1000px) {
    
    .book__name {
        font-size: 5rem;
    }

    .book__description {
        font-size: 3rem;
    }
}