@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-size: 62.5%;
    font-family: "Exo 2", sans-serif;

    --main-white: #fafafa;
    --main-red: #f33e3c;
    --dark-red: color-mix(in srgb, var(--main-red), black 70%);
    --brown-red: color-mix(in srgb, var(--main-red), hsl(0, 0%, 2%) 90%);
}

body {
    background-color: var(--dark-red);

    display: flex;
    flex-flow: column;

    align-items: center;

    overflow-y: scroll;
}