/* Actions Colors */

    .actions {
        background-color: var(--brown-red);

        border-radius: .5rem;
    }

    .searchbar {
        background-color: var(--dark-red);
        color: var(--main-white);

        border-radius: .5rem;
    }

    .searchbar::placeholder {
        color: #b8b2b1;
    }

    .actions__buttons__btn {
        background-color: var(--dark-red);
        color: var(--main-white);

        border-radius: .5rem;
    }

    .no-items-found {
        background-color: var(--brown-red);
    }

    .no-items-found p {
        background-color: var(--main-red);
    }

/**/

.actions {
    display: flex;
    flex-flow: column;
    align-items: center;

    gap: var(--container-gap);

    padding: var(--container-padding);

    width: var(--main-width);

    margin: var(--margin);

    z-index: 0;
}

.searchbar {
    font-size: 2rem;
        
    
    padding: 1.4rem;
    
    width: 100%;
    height: 4rem;
}

.actions__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: var(--container-gap);
    
    width: 100%;
    height: 4rem;
}

.actions__buttons__btn {
    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.no-items-found {
    display: none;
    
    width: 90%;
    
    padding: 2rem;
    padding-bottom: 0;
}

.no-items-found p {
    font-size: 5rem;

    padding: 1rem;
}

@media screen 
and (min-width: 300px) {
    
}

@media screen 
and (min-width: 400px) {
    
    .searchbar,
    .actions__buttons {
        height: 6rem;
    }

    .searchbar,
    .actions__buttons__btn {
        font-size: 2.4rem;
    }
}

@media screen 
and (min-width: 600px) {
}

@media screen 
and (min-width: 900px) {
    
    .actions {
        flex-flow: row;
        justify-content: space-between;
    }

    .searchbar {
        max-width: 50%;
    }

    .actions__buttons {
        max-width: 15rem;
    }
}

@media screen 
and (min-width: 1200px) {
    .actions__buttons {
        max-width: 20rem;
    }
}

@media screen 
and (min-width: 1500px) {
    .searchbar {
        max-width: 50%;
    }

    .actions__buttons {
        max-width: 25rem;
    }
}