.book-container {
    width: var(--main-width);

    padding: var(--container-padding);

    display: flex;
    flex-flow: column;
    gap: var(--container-gap);

    margin-bottom: 2rem;

    border-radius: .5rem;
}

.book-item {
    width: 100%;
    height: 100%;

    padding: var(--item-padding);

    display: flex;
    flex-flow: column;
    gap: var(--item-gap);

    border-radius: .5rem;
    
}

.book-item__logo {
    width: 100%;

    aspect-ratio: 14 / 20;
    object-fit: contain;

    padding: 1rem;

    border-radius: .5rem;
}

.book-item__text {
    display: flex;
    flex-flow: column;
    gap: var(--inner-gap);
}
    
.book-item__text__item {
    padding: var(--inner-padding);

    border-radius: .5rem;
}

.book-item__text__name {
    font-size: 1.6rem;
    font-weight: 600;

    height: 5rem;
}
.book-item__text__price {
    font-size: 1.8rem;
}
.book-item__text__units {
    font-size: 1.6rem;
}

@media screen
and (min-width: 300px) {
    .book-item__text__name {
        font-size: 1.8rem;
    }
    .book-item__text__price {
        font-size: 1.8rem;
    }
    .book-item__text__units {
        font-size: 1.6rem;
    }
}

@media screen
and (min-width: 400px) {

    .book-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .book-item__text {
        flex-grow: 1;
    }

    .book-item__text__name {
        font-size: 2rem;

        height: unset;
        flex-grow: 1;
    }
    .book-item__text__price {
        font-size: 1.8rem;
    }
    .book-item__text__units {
        font-size: 1.6rem;
    }
}

@media screen
and (min-width: 485px) {

    .book-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .book-item__text__name {
        font-size: 1.8rem;
    }
    .book-item__text__price {
        font-size: 1.6rem;
    }
    .book-item__text__units {
        font-size: 1.6rem;
    }
}

@media screen
and (min-width: 525px) {
    .book-item__text__name {
        font-size: 2rem;
    }
    .book-item__text__price {
        font-size: 1.8rem;
    }
    .book-item__text__units {
        font-size: 1.6rem;
    }
}

@media screen
and (min-width: 750px) {
    .book-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen
and (min-width: 950px) {
    .book-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .book-item__text__name {
        font-size: 1.8rem;
    }
    .book-item__text__price {
        font-size: 1.8rem;
    }
    .book-item__text__units {
        font-size: 1.6rem;
    }
}

@media screen 
and (min-width: 1200px) {

}

@media screen
and (min-width: 1500px) {
    .book-container {
        grid-template-columns: repeat(5, 1fr);
    }
    .book-item {
        max-width: 65rem;
    }

    .book-item__text__name {
        font-size: 2rem;
    }
    .book-item__text__price {
        font-size: 2rem;
    }
    .book-item__text__units {
        font-size: 1.8rem;
    }
}