/* Store Container Colors and Style */

    .store-container {
        background-color: var(--brown-red);

        border-radius: .5rem;
    }

    .store-item {
        background-color: var(--dark-red);

        border-radius: .5rem;

        transition: transform ease .15s, filter ease .15s;
    }

    .store-item:hover {
        cursor: pointer;

        transform: scale(1.05);

        filter: drop-shadow(0 0 1rem var(--dark-red));
    }
    

    .store-item__logo {
        background-image: 
            linear-gradient(140deg, var(--second-red), var(--main-red) 60%)
        ;

        border-radius: .5rem;
    }

    .store-item__text__name,
    .store-item__text__description {
        background-color: var(--main-red);

        border-radius: .5rem;
    }

/**/

.store-container {
    width: var(--main-width);

    margin-bottom: 2rem;

    padding: var(--container-padding);

    display: flex;
    flex-flow: column;
    gap: var(--container-gap);
}

.store-item {
    width: 100%;
    height: 10rem;

    display: flex;
    gap: var(--item-gap);

    padding: var(--item-padding);
}

.store-item__logo {
    display: none;
}

.store-item__text {
    width: 100%;

    display: flex;
    flex-flow: column;
    
    justify-content: center;
    align-items: center;

    gap: var(--inner-gap);
}

.store-item__text__name,
.store-item__text__description {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;


    font-size: 1.8rem;
}

.store-item__text__name {
    font-weight: 600;
}

@media screen
and (min-width: 300px) {

    .store-item {
        flex-flow: row;
        height: 11rem;
    }

    .store-item__logo {
        display: block;
        height: 100%;
    }

    .store-item__text {
        width: 100%;
    }
}

@media screen
and (min-width: 400px) {
    .store-item__text__name,
    .store-item__text__description {
        font-size: 2rem;
    }
}

@media screen
and (min-width: 600px) {

    .store-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: unset;
        gap: var(--container-gap);
    }

    .store-container__wrapper {
        width: 100%;
        display: flex;

    }

    .store-item {
        flex-flow: column;

        height: unset;
        width: unset;
    }

    .store-item__text__name,
    .store-item__text__description {
        height: 4rem;

        font-size: calc(1.8rem + .25vw);
    }

    .store-item__logo {
        width: 100%;
    }
}

@media screen
and (min-width: 900px) {
    .store-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .store-item__text__name,
    .store-item__text__description {
        height: 4rem;
    }
}

@media screen
and (min-width: 1200px) {
    .store-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .store-item__text__name,
    .store-item__text__description {
        font-size: calc(2.2rem );
    }
}

@media screen
and (min-width: 1500px) {

    .store-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .store-item {
        width: 100%;
        flex-flow: row;
    }

    .store-item__logo {
        width: 40%;
        aspect-ratio: 1;
    }

    .store-item__text__name,
    .store-item__text__description {
        height: 100%;
        font-weight: 600;
    }
}